 .u-section-1 {
  background-image: url("images/e3eede230c5b1dac37fc8147a74ecf02.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 391px;
}

.u-section-1 .u-group-1 {
  min-height: 262px;
  width: 1155px;
  height: auto;
  animation-timing-function: ease-in-out;
  box-shadow: 2px -2px 10px 0px rgba(234,232,209,1);
  margin: 57px -15px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  transition-duration: 0.5s;
  text-transform: uppercase;
  font-weight: 700;
  margin: 61px 0 0 -14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-1 .u-group-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    border-style: double;
    transition-duration: 3.5s;
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    transform: translateX(0px) translateY(0px) scale(0.001) rotate(0deg);
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover > .u-section-1 .u-text-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url('images/7eece6959dc1d3c637b8f59d54b1feea.jpg');
}

.u-section-2 .u-sheet-1 {
  min-height: 1162px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-weight: 700;
  margin: 73px 214px 0 66px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 45px 122px 0 158px;
}

.u-section-2 .u-image-1 {
  width: 276px;
  height: 276px;
  border-style: double;
  margin: -11px auto 0 19px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  line-height: 2;
  margin: -258px 34px 0 359px;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  margin: 84px 19px 0;
}

.u-section-2 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 375px;
  height: 375px;
  margin: -50px 0 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 375px;
  height: 375px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.u-section-2 .u-image-2 {
  width: 308px;
  height: 308px;
  border-style: double;
  margin: -353px 34px 44px auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 80px;
    margin-left: 0;
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    font-family: Arial, sans-serif;
    font-weight: 400;
    margin-right: 22px;
    margin-left: 58px;
  }

  .u-section-2 .u-text-3 {
    font-weight: 400;
    margin-right: 0;
    margin-left: 193px;
  }

  .u-section-2 .u-text-4 {
    font-style: normal;
    font-weight: 400;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -318px;
    margin-right: 32px;
  }
} .u-section-3 {
  background-image: url("images/d3b8321e37490cb9f97c5c01cd5ea387.jpg");
  background-position: 50% 50%;
  min-height: 470px;
}

.u-section-3 .u-slider-1 {
  width: 934px;
  min-height: 275px;
  height: auto;
  margin: 60px auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-carousel-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 35px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  width: 689px;
  font-weight: 700;
  margin: 44px auto 0;
}

.u-section-3 .u-carousel-item-2 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 79px 108px 0 150px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0 34px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px 50px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 50px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 71px;
  height: 71px;
  left: -110px;
  position: absolute;
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1);
  top: 77px;
  right: auto;
  padding: 7px;
}

.u-section-3 .u-carousel-control-2 {
  width: 71px;
  height: 71px;
  left: auto;
  position: absolute;
  top: 91px;
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1);
  right: -95px;
  padding: 7px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 439px;
  }

  .u-section-3 .u-carousel-item-1 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-text-1 {
    width: 496px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 50px;
    margin-right: 8px;
    font-size: 3rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 3rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 3rem;
  }

  .u-section-3 .u-carousel-control-1 {
    --top-right-radius: 20px;
  }

  .u-section-3 .u-carousel-control-2 {
    --top-right-radius: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 336px;
  }

  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1819px;
  }

  .u-section-3 .u-slider-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1679px;
  }

  .u-section-3 .u-slider-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    width: 320px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
  min-height: 674px;
}

.u-section-4 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: calc(((100% - 1140px) / 2)  + 677px);
  height: 527px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-image-1 {
  width: 527px;
  height: 727px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(270deg);
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: -352px calc(((100% - 1140px) / 2)  + 288px) 0 calc(((100% - 1140px) / 2)  + 20px);
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 41px calc(((100% - 1140px) / 2)  + 155px) 60px calc(((100% - 1140px) / 2)  + 20px);
}

@media (max-width: 1199px) {
  .u-section-4 .u-rotation-parent-1 {
    width: calc(((100% - 940px) / 2) + 677px);
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 108px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-rotation-parent-1 {
    width: calc(((100% - 720px) / 2) + 677px);
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-rotation-parent-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    height: NaNpx;
  }

  .u-section-4 .u-image-1 {
    width: 420px;
    height: 579px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 175px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
    font-size: 1rem;
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-rotation-parent-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-4 .u-image-1 {
    width: 264px;
    height: 364px;
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 613px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 3.75rem;
  margin: 0 370px 0 397px;
}

.u-section-5 .u-list-1 {
  margin-top: 14px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 420px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-gap: 10px;
}

.u-section-5 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  text-decoration: none solid rgb(71, 138, 201);
  font-weight: 700;
  margin: 37px -7px 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  margin: 13px 13px 0;
}

.u-section-5 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-5 .u-text-4 {
  font-size: 1.875rem;
  text-decoration: none solid rgb(71, 138, 201);
  font-weight: 700;
  margin: 37px -7px 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  margin: 13px 13px 0;
}

.u-section-5 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-5 .u-text-6 {
  font-size: 1.875rem;
  text-decoration: none solid rgb(71, 138, 201);
  font-weight: 700;
  margin: 37px -7px 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  margin: 13px 13px 0;
}

.u-section-5 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px 30px;
}

.u-section-5 .u-text-8 {
  font-size: 1.875rem;
  text-decoration: none solid rgb(71, 138, 201);
  font-weight: 700;
  margin: 37px -7px 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  margin: 13px 13px 0;
}

.u-section-5 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px 30px;
}

.u-section-5 .u-text-10 {
  font-size: 1.875rem;
  text-decoration: none solid rgb(71, 138, 201);
  font-weight: 700;
  margin: 37px -7px 0;
}

.u-section-5 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  margin: 13px 13px 0;
}

.u-section-5 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px 30px;
}

.u-section-5 .u-text-12 {
  font-size: 1.875rem;
  text-decoration: none solid rgb(71, 138, 201);
  font-weight: 700;
  margin: 37px -7px 0;
}

.u-section-5 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  margin: 13px 13px 0;
}

.u-section-5 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-7 {
  padding: 10px 30px;
}

.u-section-5 .u-text-14 {
  font-size: 1.875rem;
  text-decoration: none solid rgb(71, 138, 201);
  font-weight: 700;
  margin: 37px -7px 0;
}

.u-section-5 .u-text-15 {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  margin: 13px 13px 0;
}

.u-section-5 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-8 {
  padding: 10px 30px;
}

.u-section-5 .u-text-16 {
  font-size: 1.875rem;
  text-decoration: none solid rgb(71, 138, 201);
  font-weight: 700;
  margin: 37px -7px 0;
}

.u-section-5 .u-text-17 {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  margin: 13px 13px 0;
}

.u-section-5 .u-list-item-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-9 {
  padding: 10px 30px;
}

.u-section-5 .u-text-18 {
  font-size: 1.875rem;
  text-decoration: none solid rgb(71, 138, 201);
  font-weight: 700;
  margin: 37px -7px 0;
}

.u-section-5 .u-text-19 {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  margin: 13px 13px 0;
}

.u-section-5 .u-list-item-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-10 {
  padding: 10px 30px;
}

.u-section-5 .u-text-20 {
  font-size: 1.875rem;
  text-decoration: none solid rgb(71, 138, 201);
  font-weight: 700;
  margin: 37px -7px 0;
}

.u-section-5 .u-text-21 {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  margin: 13px 13px 0;
}

.u-section-5 .u-list-item-11 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-11 {
  padding: 10px 30px;
}

.u-section-5 .u-text-22 {
  font-size: 1.875rem;
  text-decoration: none solid rgb(71, 138, 201);
  font-weight: 700;
  margin: 37px -7px 0;
}

.u-section-5 .u-text-23 {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  margin: 13px 13px 0;
}

.u-section-5 .u-list-item-12 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-12 {
  padding: 10px 30px;
}

.u-section-5 .u-text-24 {
  font-size: 1.875rem;
  text-decoration: none solid rgb(71, 138, 201);
  font-weight: 700;
  margin: 37px -7px 0;
}

.u-section-5 .u-text-25 {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  margin: 13px 13px 0;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 297px;
    margin-right: 305px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
  }

  .u-section-5 .u-text-2 {
    margin-right: 7px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 6px;
    margin-left: -7px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 7px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 6px;
    margin-left: -7px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 7px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 6px;
    margin-left: -7px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 7px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 6px;
    margin-left: -7px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 7px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 6px;
    margin-left: -7px;
  }

  .u-section-5 .u-text-12 {
    margin-right: 7px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-13 {
    margin-right: 6px;
    margin-left: -7px;
  }

  .u-section-5 .u-text-14 {
    margin-right: 7px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-15 {
    margin-right: 6px;
    margin-left: -7px;
  }

  .u-section-5 .u-text-16 {
    margin-right: 7px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-17 {
    margin-right: 6px;
    margin-left: -7px;
  }

  .u-section-5 .u-text-18 {
    margin-right: 7px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-19 {
    margin-right: 6px;
    margin-left: -7px;
  }

  .u-section-5 .u-text-20 {
    margin-right: 7px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-21 {
    margin-right: 6px;
    margin-left: -7px;
  }

  .u-section-5 .u-text-22 {
    margin-right: 7px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-23 {
    margin-right: 6px;
    margin-left: -7px;
  }

  .u-section-5 .u-text-24 {
    margin-right: 7px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-25 {
    margin-right: 6px;
    margin-left: -7px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 187px;
    margin-right: 234px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    grid-auto-columns: calc(50% - 5.0000025px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 97px;
    margin-right: 176px;
    font-size: 2.25rem;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-8 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-10 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-12 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-14 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-15 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-16 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-17 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-18 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-19 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-20 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-21 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-22 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-23 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-24 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-25 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 111px;
    font-size: 1.875rem;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-8 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-10 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-12 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-14 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-16 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-18 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-20 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-22 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-24 {
    font-size: 3rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1283px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  width: 681px;
  margin: -6px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 11px;
  margin-bottom: 14px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 300px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 413px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto 0 30px;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 10px 0 20px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 387px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 1100px;
  background-image: url("images/98447db13842a0ddd59cdecfd8443312.jpg");
  background-position: 64.63% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 0;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 29px;
}

.u-section-6 .u-text-9 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-6 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 338px;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px 18px 13px;
}

.u-section-6 .u-text-11 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto 0 12px;
}

.u-section-6 .u-text-12 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0 12px;
}

.u-section-6 .u-layout-cell-7 {
  min-height: 362px;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-6 .u-text-13 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 5px 19px 0;
}

.u-section-6 .u-text-14 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 15px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 230px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 341px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 319px;
  }

  .u-section-6 .u-image-1 {
    min-height: 907px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 330px;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 279px;
  }

  .u-section-6 .u-text-12 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 298px;
  }

  .u-section-6 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    min-height: 992px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1396px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-6 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-6 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-6 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-6 .u-image-1 {
    min-height: 1488px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-6 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-6 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-6 .u-text-14 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1079px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-image-1 {
    min-height: 937px;
  }

  .u-section-6 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-13 {
    font-size: 1.5rem;
  }
} .u-section-7 {
  min-height: 685px;
}

.u-section-7 .u-video-1 {
  left: 50px;
  width: 1140px;
}

.u-section-7 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-7 .u-video-1 {
    width: auto;
  }
}

.u-block-db7c-19:not([data-block-selected]):not([data-cell-selected]),
.u-block-db7c-19:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-db7c-19:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-db7c-19:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-19:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-19:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-db7c-19:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-19:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-19:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-db7c-9:not([data-block-selected]):not([data-cell-selected]),
.u-block-db7c-9:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-db7c-9:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-db7c-9:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-9:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-9:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-db7c-9:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-9:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-9:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-db7c-13:not([data-block-selected]):not([data-cell-selected]),
.u-block-db7c-13:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-db7c-13:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-db7c-13:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-13:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-13:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-db7c-13:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-13:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-13:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-db7c-16:not([data-block-selected]):not([data-cell-selected]),
.u-block-db7c-16:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-db7c-16:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-db7c-16:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-16:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-16:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-db7c-16:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-16:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-16:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-db7c-20:not([data-block-selected]):not([data-cell-selected]),
.u-block-db7c-20:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-db7c-20:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-db7c-20:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-20:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-20:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-db7c-20:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-20:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-20:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-db7c-21:not([data-block-selected]):not([data-cell-selected]),
.u-block-db7c-21:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-db7c-21:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-db7c-21:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-21:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-21:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-db7c-21:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-21:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-21:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-db7c-22:not([data-block-selected]):not([data-cell-selected]),
.u-block-db7c-22:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-db7c-22:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-db7c-22:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-22:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-22:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-db7c-22:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-22:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-22:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-db7c-23:not([data-block-selected]):not([data-cell-selected]),
.u-block-db7c-23:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-db7c-23:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-db7c-23:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-23:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-23:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-db7c-23:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-23:not([data-block-selected]):not([data-cell-selected]).u-block-db7c-23:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-8 {
  background-image: url("images/c852ac92ea587cf59a796dce6dca155d.jpg");
  background-position: 50% 50%;
  background-size: 190%;
}

.u-section-8 .u-sheet-1 {
  min-height: 875px;
  margin-bottom: 0;
}

.u-section-8 .u-gallery-1 {
  height: 814px;
  width: 777px;
  margin: 31px 168px 31px auto;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
}

.u-section-8 .u-gallery-item-1 {
  margin-right: 23px;
  --effect-scale: 1.5;
}

.u-section-8 .u-back-slide-1 {
  transition-duration: 0.25s;
}

.u-section-8 .u-back-image-1 {
  width: calc(100% + 50px);
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-2 {
  margin-right: 23px;
  --effect-scale: 1.5;
}

.u-section-8 .u-back-slide-2 {
  transition-duration: 0.25s;
}

.u-section-8 .u-back-image-2 {
  width: calc(100% + 50px);
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-3 {
  margin-right: 23px;
  --effect-scale: 1.5;
}

.u-section-8 .u-back-slide-3 {
  transition-duration: 0.25s;
}

.u-section-8 .u-back-image-3 {
  width: calc(100% + 50px);
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-4 {
  margin-right: 23px;
  --effect-scale: 1.5;
}

.u-section-8 .u-back-slide-4 {
  transition-duration: 0.25s;
}

.u-section-8 .u-back-image-4 {
  width: calc(100% + 50px);
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-5 {
  margin-right: 23px;
  --effect-scale: 1.5;
}

.u-section-8 .u-back-slide-5 {
  transition-duration: 0.25s;
}

.u-section-8 .u-back-image-5 {
  width: calc(100% + 50px);
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-nav-1 {
  position: absolute;
  left: 13px;
  width: 40px;
  height: 40px;
  background-image: none;
  top: 378px;
  padding: 4px;
}

.u-section-8 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: none;
  left: auto;
  top: 387px;
  right: 31px;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-8 .u-gallery-1 {
    margin-right: 163px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-8 .u-gallery-1 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-8 .u-gallery-1 {
    height: 540px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-8 .u-gallery-1 {
    height: 340px;
    width: 340px;
  }
} .u-section-9 {
  background-image: url("images/233cbae486d945036f7868ad2c2aef6d.jpg");
  background-position: 50% 50%;
  background-size: 160%;
}

.u-section-9 .u-sheet-1 {
  min-height: 795px;
}

.u-section-9 .u-text-1 {
  font-size: 4.5rem;
  margin: 88px auto 0 410px;
}

.u-section-9 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 8px;
  margin-bottom: 60px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 554px;
  grid-auto-columns: 50%;
  grid-gap: 0px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-group-1 {
  width: 149px;
  min-height: 149px;
  background-image: none;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  height: auto;
  margin: 0 auto;
}

.u-section-9 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 -7px;
}

.u-section-9 .u-text-3 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-group-2 {
  width: 149px;
  min-height: 149px;
  background-image: none;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  height: auto;
  margin: 0 auto;
}

.u-section-9 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 -7px;
}

.u-section-9 .u-text-5 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px;
}

.u-section-9 .u-group-3 {
  width: 149px;
  min-height: 149px;
  background-image: none;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  height: auto;
  margin: 0 auto;
}

.u-section-9 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 -7px;
}

.u-section-9 .u-text-7 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-9 .u-container-layout-7 {
  padding: 30px;
}

.u-section-9 .u-group-4 {
  width: 149px;
  min-height: 149px;
  background-image: none;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  height: auto;
  margin: 0 auto;
}

.u-section-9 .u-text-8 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 -7px;
}

.u-section-9 .u-text-9 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 338px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 457px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 259px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 14px;
    margin-left: 194px;
    font-size: 2.25rem;
  }

  .u-section-9 .u-list-1 {
    margin-bottom: 14px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    margin-left: 122px;
    font-size: 1.875rem;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
} .u-section-10 {
  background-image: url("images/7eece6959dc1d3c637b8f59d54b1feea.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 660px;
}

.u-section-10 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: 60px 408px 0 auto;
}

.u-section-10 .u-text-2 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-style: italic;
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  margin: 41px 102px 0 156px;
}

.u-section-10 .u-form-1 {
  height: 422px;
  margin: 5px 138px -1px 192px;
}

.u-section-10 .u-label-1 {
  font-weight: 700;
}

.u-section-10 .u-input-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-10 .u-label-2 {
  font-weight: 700;
}

.u-section-10 .u-input-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-10 .u-form-group-3 {
  margin-left: 0;
}

.u-section-10 .u-label-3 {
  font-weight: 700;
}

.u-section-10 .u-input-3 {
  --radius: 50px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-10 .u-btn-1 {
  background-image: none;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: double;
  font-weight: 700;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 18px 39px 19px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 336px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 2px;
    margin-left: 56px;
  }

  .u-section-10 .u-form-1 {
    margin-right: 38px;
    margin-left: 92px;
  }

  .u-section-10 .u-btn-1 {
    display: block;
    width: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 257px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 193px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 197px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 122px;
  }
}